<h1>Welcome to Sinatra NYC!</h1>
<a href="/figures/index">
  <h3>Check out Figure</h3>
</a>
<a href="/landmarks/index">
  <h3>Check out Landmarks</h3>
</a>
<a href="/titles/index">
  <h3>Check out Titles</h3>
</a>
